## I want to carry out some analysis on company data. I aim to show their health by showing how they are perfoming üöÄüìà

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Reading the data üëÅÔ∏è‚Äçüó®Ô∏è

In [3]:
data=pd.read_csv('mpesadata.csv')
data.head(3)

,id,created_at,updated_at,TransactionType,responsecode,merchantrequestid,checkoutrequestid,TransID,TransTime,datetime,...,BusinessShortCode,BillRefNumber,UserRequestNumber,OrgAccountBalance,ThirdPartyTransID,MSISDN,KYCInfo,description,merchant_transaction_id,active
0,1,2021-02-11 21:51:56,2021-02-11 18:51:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,d7z3iTAO,2.547212e+11,NaN,NaN,NaN,NaN,Success. Request accepted for processing,3090-1354737-1,0
1,2,2021-02-11 21:53:55,2021-02-11 18:53:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Tn5qtUK5,2.547212e+11,NaN,NaN,NaN,NaN,Success. Request accepted for processing,1459-1351422-1,0
2,3,2021-02-11 21:55:38,2021-02-11 18:55:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,IKHSW38K,2.547212e+11,NaN,NaN,NaN,NaN,Success. Request accepted for processing,12754-24334136-1,0

## Creating a subset of the data to get only the name column and transaction column üòé

In [4]:


def subset_dataframe(df, col1, col2):
    """
    Subsets the input DataFrame to include only the specified two columns.

    Parameters:
    df : The input DataFrame.
    col1 : The name of the first column to include.
    col2 : The name of the second column to include.

    Returns:
    pd.DataFrame: A new DataFrame with only the specified two columns.
    """
    if col1 in df.columns and col2 in df.columns:
        return df[[col1, col2]]
    else:
        raise ValueError("One or both columns not found in the DataFrame")

dateTrans=subset_dataframe(data,'created_at','TransAmount')

## Data exploration üïµÔ∏è

# I want to check the highest amount of money someone has ever spent using the service üí∏. 

This is important in Identifying High-Value Customers.

**Focus on Retention** : High-value customers contribute significantly to  revenue. Identifying them allows you to focus on retention strategies, such as personalized offers and loyalty programs.

**Tailored Marketing**: You can create targeted marketing campaigns to cater to the preferences and needs of these customers, increasing their lifetime value.

In [5]:
def maxtransaction(df,col1):
    """
    This function takes a dataframe and looks into one column.It therefore returns the maximum amount of money spent at a time.

    parameters:
    df: The input dataframe
    col1(str):The column to analyze


    """
    if col1 in df.columns:
        return df[col1].max()
    else:
        raise ValueError("That column does not exist in the dataframe")
    
maxtrans=maxtransaction(dateTrans,'TransAmount')
maxtrans

13500

# Most loyal customers ü´Ö

## Importance of identifying most loyal customers.
**Increased Revenue**
**Repeat Purchases**: Loyal customers are more likely to make repeat purchases, providing a steady stream of revenue.
Higher Spending: They often spend more per transaction compared to new customers.

2.**Cost Efficiency**
**Lower Acquisition Costs**: Retaining existing customers is generally less expensive than acquiring new ones. Marketing and sales efforts can be more focused and cost-effective.

**Reduced Churn**: Understanding and catering to loyal customers can help reduce churn rates, ensuring a stable customer base.

3. **Word-of-Mouth Marketing**

**Referrals**: Loyal customers are more likely to refer friends and family, acting as brand ambassadors and bringing in new customers through positive word-of-mouth.

**Positive Reviews**: They are more inclined to leave positive reviews and testimonials, enhancing your brand‚Äôs reputation.

In [25]:


def toployalcustomers(df, name_col, condition_col, top_n=5):
    """
    This function finds the top N loyal customers based on the most repeated names in the specified column,
    but only counts occurrences where the value in the condition column is zero.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    name_col (str): The column containing customer names.
    condition_col (str): The column to check for the condition (value should be zero).
    top_n (int): The number of top customers to return.

    Returns:
    list: A list of the top N loyal customers.
    """
    if name_col in df.columns and condition_col in df.columns:
        
        filtered_df = df[df[condition_col] == 1]
        
        if not filtered_df.empty:
            
            top_customers = filtered_df[name_col].value_counts().nlargest(top_n).index.tolist()
            return top_customers
        else:
            return "No customers meet the condition."
    else:
        raise ValueError("One or both columns do not exist in the DataFrame")





loyalcustomer=toployalcustomers(data,'KYCInfo','active')
loyalcustomer

['Benrogers Kitavi Kyalo',
 'rajab mohammed ali',
 'masuud',
 'LYDIA',
 'SYLVIA MORAA NTABO']

In [26]:
%%capture
dateTrans.rename(columns={'created_at':'date'},inplace=True)

I want to visualize the trend of revenue from when they started operation to now